
.slick-carosoul{
  width: 80%;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  background-color: rgb(23, 24, 32);
  padding: 40px;
  a{
    text-decoration: none;
  }
  .title-image-slider{
    margin-bottom: 15px;
    span{
      text-transform: uppercase;
      font-size: 25px;
      color:white;
      letter-spacing: 1px;
      font-weight: bolder;
    }
  }
  .image-slide{
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 10px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }
  .slick-slider{
    .slick-arrow .slick-prev, .slick-arrow .slick-next{
      display: none !important;
    }
    .slick-dots{
      bottom: -40px !important;
    }
  }
}

.list-products{
  width: 80%;
  margin: auto;
  .title-product{
    margin-top: 25px;
    margin-bottom: 20px;
    span{
      font-size: 25px;
      text-transform: uppercase;
      font-weight: bolder;
      letter-spacing: 1px;
    }
  }
  .error-message{
    span{
      color:rgb(247, 56, 56);
      font-size: 20px;
      font-weight: bolder;
    }
  }
  .core-products{
    margin-bottom: 40px;
    a{
      text-decoration: none;
      color:black;
    }
    .box-product{
      border: 1px solid #eee;
      padding: 15px;
      margin-bottom: 30px;
      cursor: pointer;
      .image-per-product{
        width: 100%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .detail-product{
        h5{
          margin-top: 15px;
          font-size: 17px;
          letter-spacing: 1px;
          font-weight: bolder;
          margin-bottom: 11px;
        }
        p{
          svg{
            margin-top: -3px;
            cursor: pointer;
            color: gold;
          }
          span{
            margin-left: 4px;
            font-size: 15px;
          }
        }
        span{
          font-weight: bolder;
          font-size: 22px;
        }
      }
    }
  }
}