
.table-content{
  margin-bottom: 40px !important;
}
.btn-create{
  float: right;
  padding: 7px 15px;
  background-color: black;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 25px;
  span{
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:white;
  }
}
.marginb20{
  margin-top: 28px !important;
}