
.detail-payment{
  .select-payment{
    margin-bottom: 5px;
    span{
      font-size: 20px;
      font-weight: bolder;

    }
  }
  .credit{
    margin-top: 10px;
    margin-left: 15px;
  }
  button{
    margin-top: 20px;
  }
}