
.footer-index{
  background-color: black;
  text-align: center;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
  // position: fixed;
  bottom: 0;
  left: 0;
  span{
    font-size: 16px;
    color:white;
  }
}