
.contain-order-detail{
  width: 80%;
  margin: auto;
  .title-order{
    margin-top: 20px;
    margin-bottom: 15px;
    span{
      font-size: 25px;
      font-weight: bolder;
      text-transform: uppercase;
    }
  }
  .box-not-paid{
    background-color: rgb(211, 64, 64) !important;
    span{
      color:white !important;
    }
  }
  .shipping{
    padding-left: 20px;
    border-bottom: 1px solid #ddd;
    .title-shipping, .payment-shipping, .order-shipping{
      margin-top: 10px;
      margin-bottom: 10px;
      span{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bolder;
      }
    }
    .detail-shipping{
      margin-top: 6px;
      .username, .useremail, .address{
        margin-bottom: 10px;
      }
      .useremail{
        span.class-bold{
          font-weight: bolder;
        }
      }
      .box-delivered{
        padding: 10px 20px;
        border-radius: 4px;
        margin-bottom: 20px;
        background-color: rgb(122, 255, 189);
        span{
          color:green;
          font-size: 15px;
          letter-spacing: 1px;
        }
      }
    } 
  }
  .mrg-top10{
    padding-top: 10px;
  }
  .payment-method{
    @extend .shipping;
    
    .method{
      margin-bottom: 12px;
    }
    .paid-delivered{
      padding: 10px 20px;
      border-radius: 4px;
      margin-bottom: 25px;
      background-color: rgb(122, 255, 189);
      span{
        color:green;
        font-size: 15px;
        letter-spacing: 1px;
      }
    }
  }

  .order-item{
    @extend .shipping;
    border-bottom: none !important;
    margin-bottom: 40px;
    .items-order{
      margin-top: 20px;
      margin-bottom: 30px;

      .image-order{
        width: 100%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .border-item{
        margin-bottom: 20px;
      }
    }
  }

  .box-summary{
    border: 1px solid #ddd;
    border-bottom:none;
    .overview{
      padding: 10px 15px;
      border-bottom: 1px solid #ddd;
      span{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bolder;
        letter-spacing: 1px;
      }
    }
    .items{
      padding: 10px 15px;
      border-bottom: 1px solid #ddd;
    }
  }
  .paypal-button{
    margin-top: 10px;
  }
  .btn-delivered{
    width: 100%;
    border: none;
    margin-top: 7px;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: black;
    color:white;
    letter-spacing: 1px;
  }
}